# Deep Learning Frameworks
torch>=2.11.0
torchvision>=0.26.0
ultralytics>=8.4.42

# Computer Vision
opencv-contrib-python>=4.13.0.92

# OCR Libraries
fast-plate-ocr>=0.1.5
onnxruntime>=1.16.0

# Scientific Computing
numpy>=2.2.0
pillow>=12.2.0
